@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

:root{
    --greenery: #23856D;
    --success-color: #2DC071;
    --green2: #47AD97;
    --green3: #47AD97;
    --green4: #39603D;
    --green5: #176552;
    --green6: #3C403D;
    --green7: #0D5C63;
    --green8: #16697A;
    --red1: #B73225;
    --blue0: #00A1C1;
    --blue1: #004E7C;
    --blue2: #283747;
    --blue3: #17213C;
    --blue4: #14213D;
    --blue5: #14213D;
    --peach: #FF7B47;
    --orange1: #FCA311;
    --orange2: #FFA62B;
}


.universal-container{
    /**parent container**/
}



/*****header styling***/
.top-header{
    width: 100%;
    background-color: var(--blue2);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;
    color: white;
}

.left-top-header{
    display: flex;
}

.left-top-header>div{
    margin: 15px;
}


.top-header-icon{
    display: flex;
}

.top-header-icon>div{
    margin: 4px;
}

.right-top-header{
    display: flex;
    align-items: center;
}

.social-icons{
    display: flex;
    align-items: center;
}

.social-icons img{
    margin: 10px;
    cursor: pointer;
}


/***navbar component***/
.navbar{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;
    position: relative;
    z-index: 2000;
}

/*classlist to set navbar to fixed*/
.toggleNavbar{
    position: fixed;
    top: 0;
    background-color: white;
}


.left-navbar{
    display: flex;
    align-items: center;
}

.left-navbar>div{
    margin: 15px;
}

.store-logo{
    color: var(--blue0);
}

.nav-links span{
    display: inline-flex;
}

.nav-links i{
    margin: 0 0px;
    cursor: pointer;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
}

.nav-links ul li a{
    text-decoration: none;
    margin: 5px;
    color: var(--blue2);
}


.right-navbar{
    display: flex;
    align-items: center;
}

.loginregister span a{
    color: var(--blue0);
    text-decoration: none;
}

.loginregister span{
    color: var(--blue0);
}


.right-navbar>div{
    display: flex;
    margin: 10px;
    align-items: center;
}

.right-navbar-wrap-2>div{
    margin: 10px;
}

.right-navbar-wrap-1>div{
    margin: 4px;
}

.hero-icon sub{
    position: relative;
    top: -0.5rem;
    color: var(--blue0);
}

.hero-icon img{
    cursor: pointer;
}


/***home***/
#home{
    width: 100vw;
    height: 100vh;
    background-image: url(images/home-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


.shop-option{
    width: 160px;
    height: 0px;
    position: absolute;
    left: 15%;
    top: 0;
    background: linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.4));
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .4s;
}


/***change height for shop-option container***/
.change-height{
    height: 160px;
}


/***hide links for shop-options***/
.shop-option-links{
    display: none;
}


.toggleRotateCaret{
    transition: all .50s;
    transform: rotate(180deg);
}


/***classlist to hide and show shop option links***/
.toggleShopOptionLinks{
    display: inline-block;
}

.shop-option ul li{
    list-style: none;
    margin: 10px;
}

.shop-option ul li a{
    color: var(--green6);
    text-decoration: none;
}


.home-page-context{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    color: white;
}


.home-page-context-wrapper{
    position: absolute;
    left: 5%;
}

.home-page-context-wrapper h1{
    font-size: 35px;
}

.home-page-context-wrapper p{
    font-size: 15px;
    font-weight: 600;
}

.home-page-context-wrapper span{
    line-height: 30px;
}

.home-page-context-wrapper>div{
    margin: 40px;
}

.shop-button{
    width: 140px;
    height: 45px;
    background-color: var(--success-color);
    border: none;
    color: white;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    transition: all .50s;
}

.shop-button:hover{
    background-color: var(--green2);
}

/**styling for hamburger icon****/

.mobile-navbar-icons{
    display: flex;
}

.mobile-navbar-icons img{
    width: 15px;
    height: 15px;
}

.mobile-navbar-icons>div{
    margin: 6px;
}

.mobile-navbar-icons{
    cursor: pointer;
    display: none;
}

/***DROPDOWN MENU***/
.mobile-dropdown-menu{
    width: 100%;
    height: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .4s;
}


.mobile-dropdown-menu ul li{
    list-style: none;
    margin: 25px;
}

.mobile-dropdown-menu ul li a{
    text-decoration: none;
    font-size: 20px;
    color: var(--green6);
}

.mobile-navbar-list{
    /***hide mobile nav links***/
    display: none;
}

/***classlist to toggle dropdowwn visibility***/
.toggleDropdown{
    height: 260px;
}

.toggleMobileLinks{
    display: inline-block;
}


/***next-previous caret buttons***/
.next-previous-carousel{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px 0 30px;
}

.caret-button{
    cursor: pointer;
}

/***index-indicator***/
.index-indicator{
    width: 100%;
    height: 100%
}


.index-indicator>div{
    display: flex;
    flex-direction: column;
}

.index-in{
    width: 40px;
    height: 4px;
    background: linear-gradient(rgba(255,255,255, 0.4), rgba(255,255,255,0.4));
    backdrop-filter: blur(10px);
    position: absolute;
    bottom: 10%;
}




/****editors pick***/
#editors-pick{
    margin-top: 40px;
}

.editors-pick-wrapper{
  width: 100%;
  height: 65vh;
  padding: 0 100px 0 100px;
  display: flex;
  justify-content: center;
}

.editors-pick-header-wrapper>div{
    display: flex;
    justify-content: center;
    margin: 5px;
    text-align: center;
}




.editors-pick-grid {
    margin-top: 20px;
    display: grid; 
 
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 400px 300px 200px;
    
    gap: 20px;
    height: 100%;
 }
   
 .editors-grid-item0 {
 
    background-image: url(images/editors-pick-men.png); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-row-start: 1;
    grid-column-start: 1;
 
    grid-row-end: 3;
    grid-column-end: 2;

    position: relative;
 }
 
 .editors-grid-item1 {
  
    background-image: url(images/editors-pick-ladies.png); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    background-color: #E9EBBD; 
    grid-row-start: 1;
    grid-column-start: 2;
 
    grid-row-end: 3;
    grid-column-end: 3;

    position: relative;
    
 }
 
 .editors-grid-item2 {
    background-image: url(images/editors-pick-accesories.png); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    background-color: #DF9FE5; 
    grid-row-start: 1;
    grid-column-start: 3;
 
    grid-row-end: 2;
    grid-column-end: 4;

    position: relative;
    
 }
 .editors-grid-item3 {
    background-image: url(images/editors-pick-kids.png); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    background-color: #BE589C; 
    grid-row-start: 2;
    grid-column-start: 3;
 
    grid-row-end: 3;
    grid-column-end: 4;

    position: relative;
    
 }

 .category-button{
    position: absolute;
    bottom: 5%;
    left: 3%;
 }


 .category-button button {
     position: relative;
     height: 40px;
     background-color: white;
     cursor: pointer;
     border: none;
     font-weight: 700;
     transition: color 0.4s;
     padding: 20px;
     display: flex;
     justify-content: center;
     align-items: center;
     overflow: hidden; /* Hide overflow to contain the pseudo-element */
 }


 .category-button a{
    text-decoration: none;
    color: white;
 }

