@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

:root{
    --greenery: #23856D;
    --success-color: #2DC071;
    --green2: #47AD97;
    --green3: #47AD97;
    --green4: #39603D;
    --green5: #176552;
    --green6: #3C403D;
    --green7: #0D5C63;
    --green8: #16697A;
    --red1: #B73225;
    --blue0: #23A6F0;
    --blue1: #004E7C;
    --blue2: #283747;
    --blue3: #17213C;
    --blue4: #14213D;
    --blue5: #14213D;
    --peach: #FF7B47;
    --orange1: #FCA311;
    --orange2: #FFA62B;
}


.universal-container{
    /**parent container**/
    width: 100vw;
    height: auto;
}



/*****header styling***/
.top-header{
    width: 100%;
    background-color: var(--blue2);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;
    color: white;
}

.left-top-header{
    display: flex;
}

.left-top-header>div{
    margin: 15px;
}


.top-header-icon{
    display: flex;
}

.top-header-icon>div{
    margin: 4px;
}

.right-top-header{
    display: flex;
    align-items: center;
}

.social-icons{
    display: flex;
    align-items: center;
}

.social-icons img{
    margin: 10px;
    cursor: pointer;
}


/***navbar component***/
.navbar{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;
    position: relative;
    z-index: 2000;
}

/*classlist to set navbar to fixed*/
.toggleNavbar{
    position: fixed;
    top: 0;
    background-color: white;
}


.left-navbar{
    display: flex;
    align-items: center;
}

.left-navbar>div{
    margin: 15px;
}

.store-logo{
    color: var(--blue0);
}

.nav-links span{
    display: inline-flex;
}

.nav-links i{
    margin: 0 0px;
    cursor: pointer;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
}

.nav-links ul li a{
    text-decoration: none;
    margin: 5px;
    color: var(--blue2);
}


.right-navbar{
    display: flex;
    align-items: center;
}

.loginregister span a{
    color: var(--blue0);
    text-decoration: none;
}

.loginregister span{
    color: var(--blue0);
}


.right-navbar>div{
    display: flex;
    margin: 10px;
    align-items: center;
}

.right-navbar-wrap-2>div{
    margin: 10px;
}

.right-navbar-wrap-1>div{
    margin: 4px;
}

.hero-icon sub{
    position: relative;
    top: -0.5rem;
    color: var(--blue0);
}

.hero-icon img{
    cursor: pointer;
}


/***home***/
#home{
    width: 100vw;
    height: 100vh;
    background-image: url(images/home-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


.shop-option{
    width: 160px;
    height: 0px;
    position: fixed;
    left: 15%;
    top: 5%;
    background: linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.4));
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .4s;
    z-index: 300;
}


/***change height for shop-option container***/
.change-height{
    height: 200px;
}


/***hide links for shop-options***/
.shop-option-links{
    display: none;
}


.toggleRotateCaret{
    transition: all .50s;
    transform: rotate(180deg);
}


/***classlist to hide and show shop option links***/
.toggleShopOptionLinks{
    display: inline-block;
}

.shop-option ul li{
    list-style: none;
    margin: 10px;
}

.shop-option ul li a{
    color: var(--green6);
    text-decoration: none;
}


.home-page-context{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    color: white;
}


.home-page-context-wrapper{
    position: absolute;
    left: 5%;
    z-index: 200;
}

.home-page-context-wrapper h1{
    font-size: 35px;
}

.home-page-context-wrapper p{
    font-size: 15px;
    font-weight: 600;
}

.home-page-context-wrapper span{
    line-height: 30px;
}

.home-page-context-wrapper>div{
    margin: 40px;
}


.shop-button{
    width: 140px;
    height: 45px;
    background-color: var(--success-color);
    border: none;
    color: white;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    transition: all .50s;
}

.shop-button:hover{
    background-color: var(--green2);
}

/**styling for hamburger icon****/

.mobile-navbar-icons{
    display: flex;
}

.mobile-navbar-icons img{
    width: 15px;
    height: 15px;
}

.mobile-navbar-icons>div{
    margin: 15px;
}

.mobile-navbar-icons{
    cursor: pointer;
    display: none;
}

/***DROPDOWN MENU***/
.mobile-dropdown-menu{
    width: 100%;
    height: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .4s;
    position: fixed;
    z-index: 300;
}


.mobile-dropdown-menu ul li{
    list-style: none;
    margin: 25px;
}

.mobile-dropdown-menu ul li a{
    text-decoration: none;
    font-size: 20px;
    color: var(--green6);
}

.mobile-navbar-list{
    /***hide mobile nav links***/
    display: none;
}

/***classlist to toggle dropdowwn visibility***/
.toggleDropdown{
    height: 400px;
}

.toggleMobileLinks{
    display: inline-block;
}


/***next-previous caret buttons***/
.next-caret{
    position: absolute;
    right: 2%;
    top: 50%;
}

.previous-caret{
    position: absolute;
    top: 50%;
    left: 2%;
}


.caret-button{
    cursor: pointer;
}

/***index-indicator***/
.index-indicator{
    display: flex;
    position: absolute;
    bottom: 15%;
    left: 50%;
}



.index-in{
   width: 30px;
   height: 4px;
   background: linear-gradient(rgba(255,255,255, 0.4), rgba(255,255,255, 0.4));
   backdrop-filter: blur(10px);
   margin: 4px;
}


.active-index-indicator{
    background-color: white;
}



/****editors pick***/
#editors-pick{
    margin-top: 40px;
    width: 100vw;
}

.editors-pick-wrapper{
  width: 100%;
  height: 65vh;
  padding: 0 100px 0 100px;
  display: flex;
  justify-content: center;
}

.editors-pick-header-wrapper>div{
    display: flex;
    justify-content: center;
    margin: 5px;
    text-align: center;
}




.editors-pick-grid {
    margin-top: 20px;
    display: grid; 
 
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 400px 300px 200px;
    
    gap: 20px;
    height: 100%;
 }
   
 .editors-grid-item0 {
 
    background-image: url(images/editors-pick-men.png); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-row-start: 1;
    grid-column-start: 1;
 
    grid-row-end: 3;
    grid-column-end: 2;

    position: relative;
 }
 
 .editors-grid-item1 {
  
    background-image: url(images/editors-pick-ladies.png); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    background-color: #E9EBBD; 
    grid-row-start: 1;
    grid-column-start: 2;
 
    grid-row-end: 3;
    grid-column-end: 3;

    position: relative;
    
 }
 
 .editors-grid-item2 {
    background-image: url(images/editors-pick-accesories.png); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    background-color: #DF9FE5; 
    grid-row-start: 1;
    grid-column-start: 3;
 
    grid-row-end: 2;
    grid-column-end: 4;

    position: relative;
    
 }
 .editors-grid-item3 {
    background-image: url(images/editors-pick-kids.png); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    background-color: #BE589C; 
    grid-row-start: 2;
    grid-column-start: 3;
 
    grid-row-end: 3;
    grid-column-end: 4;

    position: relative;
    
 }

 .category-button{
    position: absolute;
    bottom: 5%;
    left: 3%;
 }


 .category-button button {
     position: relative;
     height: 40px;
     background-color: white;
     cursor: pointer;
     border: none;
     font-weight: 700;
     transition: color 0.4s;
     padding: 20px;
     display: flex;
     justify-content: center;
     align-items: center;
     position: relative;
     overflow: hidden; /* Hide overflow to contain the pseudo-element */
 }


 .editor-button::before{
    content: '';
    background-color: var(--green4);
    position: absolute;
    transition: all .4s;
    left: 0;
    bottom: 0;
    width: 0;
    height: 30%;
 }

 .editor-button:hover::before{
    position: absolute;
    width: 100%;
    right: 0;
    background-color: var(--blue0);
 }

 .category-button a{
    text-decoration: none;
    color: white;
    z-index: 300;
 }


 /**featured products*/
 #featured-products{
    margin-top: 100px;
    width: 100vw;
    padding: 0 260px 0 260px;
 }



 .featured-products-header-wrapper>div{
    display: flex;
    justify-content: center;
    margin: 15px;
    text-align: center;
 }


 .featured-products-header-wrapper p{
    color: grey;
 }

 .featured-product-flex-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
 }

 .shopping-card{
    height: 500px;
    width: 200px;
 }

 .shopping-item-image{
    width: 100%;
    height: 350px;
 }

 .shopping-item-image img{
    width: 100%;
    height: 100%;
 }

.item-desc-wrapper>div{
    margin: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
}


.retail-price{
    color: grey;
    text-decoration: line-through;
}

.discount-price{
    color: var(--green2);
}

.item-price span{
    margin: 5px;
}


.color-picker-wrapper{
    width: 20px;
    height: 20px;
    border: solid white 1px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle-color-picker-wrapper{
    border: solid black 1px;
}

.color-picker-container>div{
    margin: 4px;

}

.color-picker{
    width: 10px;
    height: 10px;
    border-radius: 50px;
    cursor: pointer;
}

.color-picker-1{
    background-color: var(--blue0);
}


.color-picker-2{
    background-color: var(--green3);
}


.color-picker-3{
    background-color: var(--orange1);
}

.color-picker-4{
    background-color: var(--blue3);
}


/****vita classic***/

#vita-classic{
    background-color: var(--greenery);
    margin-top: 30px;
    position: relative;
}


.vita-classic-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    height: 100%;
    gap: 0px;
}


.add-cart{
    width: 130px;
    height: 40px;
    background-color: var(--success-color);
    color: white;
    border: none;
    cursor: pointer;
    transition: all .50s;
}

.add-cart:hover{
    background-color: var(--green2);
}

.vita-grid-item-1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}



.vita-grid-item-1-header-wrapper>div{
    margin: 30px;
}

.vita-price-cart{
    display: flex;
}

.vita-item-price{
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: 700;
}

.vita-price-cart>div{
    margin: 15px;
}


.vita-grid-sub-header h1{
    font-size: 45px;
}

.vita-item-image{
    display: flex;
    justify-content: center;
    align-items: center;
}



/****neural universe grid****/
.neural-universe-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    height: 100%;
}

.neural-universe-grid-1{
    padding: 50px;    
    display: flex;
    justify-content: center;
}


.buy-now-button{
    width: 140px;
    height: 40px;
    background-color: var(--success-color);
    color: white;
    cursor: pointer;
    border: none;
    transition: all .4s;
    border-radius: 5px;
}


.read-more-button{
    width: 140px;
    height: 40px;
    background-color: transparent;
    color: var(--success-color);
    cursor: pointer;
    border: solid var(--success-color) 1px;
    transition: all .4s;
    border-radius: 5px; 
}

.neural-universe-flex-buttons{
    display: flex;
    justify-content: center;
    position: relative;
    left: px;
}


.neural-universe-flex-buttons>div{
    margin: 10px;
}


.neural-universe-grid-2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.neural-universe-grid-header-wrapper>div{
    margin: 30px;
    text-align: center;
}

.neural-universe-sub-header h1{
    font-size: 40px;
}



/**Featured posts section*/

.featured-posts-sub-header p{
    line-height: 30px;
}


.featured-posts-header-wrapper>div{
    margin: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.featured-post-header p{
    color: var(--blue0);
}

.featured-posts-flex-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.featured-posts-flex{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}


.featured-posts-card{
    border: solid black;
    position: relative;
    border: solid gray 1px;
    box-shadow: 0 6px 6px grey; /* Adjust values as needed */
}

.featured-post-image img{
    width: 100%;
    height: 100%;
}


.featured-post-image{
    width: 100%;
    height: 300px;
}

.new-tag{
    position: absolute;
    background-color: var(--red1);
    color: white;
    padding: 5px;
    left: 4%;
    top: 4%;
}

.featured-post-card-tag{
    margin-top: 10px;
    display: flex;
}


.featured-post-card-tag ul li{
    list-style: none;
    display: inline-block;
}


.featured-post-card-tag ul li a{
    text-decoration: none;
    margin: 10px;
    font-size: 14px;
    color: black;
    cursor: pointer;
}


.bottom-card-context-wrapper{
    padding: 0 10px 0 10px;
}

.bottom-card-context-wrapper>div{
    margin: 15px;
}

.active-card-tag{
    color: var(--blue0) !important;
}


.featured-post-card-title p{
    font-size: 25px;
    font-weight: 400;
}


.date-comments-flex{
    display: flex;
    flex-wrap: nowrap;
}

.date-comments-flex>div{
    text-align: center;
}

.date-wrapper-flex{
    display: flex;
}

.comments-wrapper-flex{
    display: flex;
    position: absolute;
    right: 7%;
}

.date-wrapper-flex>div, .comments-wrapper-flex>div{
    margin: 4px;
}

.learn-more-button-wrapper a{
    color: black;
    text-decoration: none;
    text-align: center;
    display: flex;
    font-weight: 500;
    margin: 20px;
}


.learn-more-button-wrapper a img{
    margin-left: 15px;
}


card-context p{
    line-height: 30px;
}



/***social -link footer***/


.social-links-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FAFAFA;
    padding: 60px 160px 60px 160px;
    margin-top: 40px;
}


.right-social-links-footer-flex{
    display: flex;
}

.right-social-links-footer-flex>div{
    margin:10px;
}


.footer-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px 0 60px;
}

.footer-title{
    display: flex;
    justify-content: center;
}

.footer-title h4{
    margin: 20px 0;
}

footer ul li{
    list-style: none;
    margin: 15px;
}

footer ul li a{
    text-decoration: none;
    color: black;
    text-align: center;   
    position: relative;
    transition: all .5s;
    display: flex;
    justify-content: center;
}

footer ul li a::before{
    content: "";
    width: 0;
    height: 4px;
    position: absolute;
    left: 20%;
    top: 20px;
    background-color: var(--blue0);
    transition: all .5s;
}


footer ul li a:hover::before{
    content: "";
    width: 60%;
}




.rights-reserved-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: #FAFAFA;
}


footer input{
    height: 35px;
    padding: 15px;
}

footer button{
    background-color: var(--blue0);
    color: white;
    height: 35px;
    width: 120px;
    border: none;
    cursor: pointer;
    transition: all .4s;
}


footer button:hover{
    background-color: var(--blue1);
}



/***about***/

.login-become-member ul li{
    list-style: none;
    display: inline-block
}

.login-become-member ul li a{
    text-decoration: none;
    margin: 30px;
    color: var(--blue0);
} 


.about-container .navbar{
    padding: 0 100px 0 100px;
}

.login-become-member a{
    text-decoration: none;
}


.become-member-button{
    padding: 10px;
    color: white;
    background-color: var(--blue0);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all .4s;
}

.become-member-button:hover{
    background-color: var(--blue1);
}


#about-us{
    width: 100vw;
    height: 100svh;
    background-image: url(images/about-background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.about-us-context-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 15%;
}

.quote-now-btn button{
    background-color: var(--blue0);
    border: none;
    width: 140px;
    border-radius: 4px;
    height: 40px;
    color: white;
    transition: all .4s;
    cursor: pointer;
}

.quote-now-btn button:hover{
    background-color: var(--blue1);
}


.about-us-header-wrapper>div{
    margin: 30px 0px;
}

.about-us-header-title h1{
    font-size: 40px;
}

#problems-trying{
    height: 30vh;
    padding: 0 100px 0 100px;
}

.problem-trying-header p{
    color: red;
}

.problem-trying-context-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.problem-trying-align-center{
    display: flex;
    align-items: center;
}


/***metric***/

#metrics{
    padding: 0 80px 0 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.metrics-wrapper-space-between{
    display: flex;
    justify-content: space-between;
    gap: 170px;
}


.metrics-number{
    display: flex;
    justify-content: center;
    font-size: 40px;
}

.metrics-col>div{
    display: flex;
    justify-content: center;
}




/**video card*/

#video-card{
    display: flex;
    height: 100vh;
    justify-content: center;
    position: relative;
}

#video-card img{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 60px 150px 60px 150px;
}



/***meet the team***/


.team-header-wrapper>div{
    display: flex;
    justify-content: center;
    margin: 10px;
    text-align: center;
}



.team-members-flex-box{
    padding: 0 60px 0 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin-top: 25px;
}



.team-member-card{
    width: fit-content;
}


.team-member-image img{
    height: 100%;
    width: 100%;
}

.team-info>div{
    display: flex;
    justify-content: center;
    margin: 10px;
}

.team-social-links{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.team-social-links ul li{
    list-style: none;
    display: inline-block;
}

.team-social-links ul li a{
    text-decoration: none;
    margin: 10px;
    cursor: pointer;
}


.team-info{
    margin-top: 15px;
}



/***desktop testimoials**/

#desktop-testimonials{
    background-color: #2A7CC7;
}

.desktop-testimonial-grid{
    display: grid;
    grid-template-columns: 55% 1fr;
    grid-template-rows: 1fr;
    height: 100%;
    gap: 0;
}


.desktop-testimonials-grid-context{
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonials-btn button{
    width: 120px;
    height: 40px;
    border: solid white 1px;
    border-radius: 4px;
    color: wheat;
    background-color: transparent;
    cursor: pointer;
    transition: all .50s;
}


.testimonials-btn button:hover{
    background-color: white;
    color: black;
}

.testimonials-grid-1-header-wrapper>div{
    margin: 25px;
    color: white;
}


.testimonials-title h1{
    font-size: 35px;
}


.testimonials-image img{
    float: right;
}