@media(min-width:1440px){
   
}


@media (max-width:1024px) {
    /**REDUCE FONT SIZE TO FIT CONTAINER PROPERLY**/
    .top-header p{
        font-size: 13px;
    }

    /****remove padding to fit small screen**/
    #featured-products{
        margin-top: 100px;
        width: 100vw;
        padding: 0 50px 0 50px;
     }

     .neural-universe-grid-1 img{
        width: 400px;
        height: 400px;
     }



    .featured-posts-card{
        width: 280px;
        border: solid black;
        position: relative;
        border: solid gray 1px;
        box-shadow: 0 6px 6px grey; /* Adjust values as needed */
    }

    .featured-post-image{
        width: 100%;
        height: 200px;
    }

    .date-comments-flex{
        display: inline-block;
        flex-wrap: nowrap;
    }

    .comments-wrapper-flex{
        display: flex;
        position: relative;
    }

    .footer-wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 0 30px 0 30px;
    }


    #problems-trying{
        width: 100vw;
        height: 30vh;
        padding: 0 20px 0 20px;
    }

    #metrics{
        width: 100vw;
        height: 35vh;
        padding: 0 30px 0 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .metrics-number{
        display: flex;
        justify-content: center;
        font-size: 30px;
    }

    #video-card img{
        position: absolute;
        height: 100%;
        width: 100%;
        padding: 60px 80px 60px 80px;
    }


    #team{
        min-height: 100vh;
    }

    .team-members-flex-box{
        padding: 0 10px 0 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;
        margin-top: 25px;
    }



    .company-icons-flex-wrap{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 60px;
    }

}


@media(max-width: 768px) {
    .top-header{ /**DISABLE TOP HEADER FOR TABLET DEVICES AND UNDER***/
        display: none;
    }

    .nav-links{/***HIDE NAVLINKS FOR TABLET DEVICES AND UNDER***/
        display: none;
    }
    
    .hide-right-navbar{
        display: none !important;
    }


    #home{
        width: 100vw;
        height: 100vh;
        background-image: url(images/home-background.jpg);
        /***POSITION BACKGROUND TO CENTER****/
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }


    .mobile-navbar-icons{
        /***make menubar visible for tablets and smaller devices***/
        display: flex;
    }


    .shop-option{
        display: none;
    }

    .editors-pick-grid {
        margin-top: 20px;
        display: grid; 
     
        /**change grid size**/
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 230px 200px 100px;
        
        gap: 20px;
        height: 100%;
     }

    .category-button button {
        position: relative;
        /**reduce button height*/
        height: 30px;
        background-color: white;
        cursor: pointer;
        border: none;
        font-weight: 700;
    
        /*change font size*/
        font-size: 10px;

        transition: color 0.4s;
        /**reduce paddnig**/
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden; /* Hide overflow to contain the pseudo-element */
    }

    .neural-universe-grid-1 img{
        width: 300px;
        height: 300px;
     }

     .neural-universe-sub-header h1{
        font-size: 30px;
        text-align: center;
    }

    .vita-item-image img{
        width: 300px;
        height: 360px;
    }

    .social-links-footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #FAFAFA;
        padding: 60px;
        margin-top: 40px;
    }

    .login-become-member {
        display: none;
    }

    .about-container .navbar{
        padding: 0 30px 0 30px;
    }

    .metrics-number{
        display: flex;
        justify-content: center;
        font-size: 15px;
    }

    .metrics-wrapper-space-between{
        display: flex;
        justify-content: space-between;
        gap: 70px;
    }

    .metrics-col p{
        font-size: 10px;
    }

    .team-members-flex-box{
        padding: 0 60px 0 60px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;
        margin-top: 25px;
    }




    .pricing-cards-wrapper{
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr 1fr;
        height: 100%;
        gap: 0;
    }


    .company-icons-flex-wrap{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }



    .company-icons-flex-wrap{
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        padding: 0 20px 0 20px;
        align-items: center;
        justify-content: center;
    }


  

}









@media(max-width:425px) {
    .next-previous-carousel{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        /***reduce the padding space**/
        padding: 0 10px 0 10px;
    }

    .caret-button img{
        cursor: pointer;
        /**resuce size***/
        width: 20px;
        height: 35px;
    }

    .editors-pick-wrapper{
        width: 100%;
        height: auto;
        padding: 0 100px 0 100px;
        display: flex;
        justify-content: center;
      }


    .editors-pick-grid {
        margin-top: 20px;
        display: grid; 
     
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        
        gap: 20px;
        height: 100%;
     }
    


     .editors-grid-item0 {
        height: 360px;
        width: 260px;
        background-image: url(images/editors-pick-men.png); 
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        grid-row-start: 1;
        grid-column-start: 1;
     
        grid-row-end: 2;
        grid-column-end: 2;
    
        position: relative;
     }


     .editors-grid-item1 {
        height: 360px;
        width: 260px;
  
        background-image: url(images/editors-pick-ladies.png); 
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    
        background-color: #E9EBBD; 
        grid-row-start: 2;
        grid-column-start: 1;
     
        grid-row-end: 3;
        grid-column-end: 2;
    
        position: relative;
        
     }


     .editors-grid-item2{
        height: 360px;
        width: 260px;

        background-image: url(images/editors-pick-accesories.png); 
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        grid-row-start: 3;
        grid-column-start: 1;
     
        grid-row-end: 4;
        grid-column-end: 2;
        
     }
     
     .editors-grid-item3{
        height: 360px;
        width: 260px;

        background-image: url(images/editors-pick-kids.png); 
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
     
        grid-row-start: 4;
        grid-column-start: 1;
     
        grid-row-end: 5;
        grid-column-end: 2;
        
     }


     .category-button button {
        position: relative;
        /**reduce button height*/
        height: 40px;
        background-color: white;
        cursor: pointer;
        border: none;
        font-weight: 700;
    
        /*change font size*/
        font-size: 15px;

        transition: color 0.4s;
        /**reduce paddnig**/
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden; /* Hide overflow to contain the pseudo-element */
    }

    .vita-classic-grid{
        /***ChANGE GRID***/
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows: 1fr 1fr;
        height: 100%;
        gap: 0px;
    }

    .neural-universe-grid{
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows: 1fr 1fr;
        height: 100%;
    }


    .neural-universe-grid-1{
        padding: 10px;
        order: 1;
    }

    .neural-universe-flex-buttons{
        display: inline-block;
    }

    .buy-now-button{
        width: 140px;
        height: 40px;
            /*change background button color */
        background-color: var(--blue0);
        color: white;
        cursor: pointer;
        border: none;
        transition: all .4s;
        border-radius: 5px;
    }
    


    .read-more-button{
        width: 140px;
        height: 40px;
        background-color: transparent;
        /*change button color */
        color: var(--blue0);
        cursor: pointer;
        border: solid var(--blue0) 1px;
        transition: all .4s;
        border-radius: 5px; 
    }


    .featured-posts-card{
        width: fit-content;
        border: solid black;
        position: relative;
        border: solid gray 1px;
        box-shadow: 0 6px 6px grey; /* Adjust values as needed */
    }


    .featured-post-image{
        width: 100%;
        height: 300px;
    }

    .date-comments-flex{
        display: flex;
        flex-wrap: nowrap;
    }

    .comments-wrapper-flex{
        display: flex;
        position: absolute;
        right: 7%;
    }

    .footer-wrapper{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .problem-trying-context-wrapper{
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .metrics-wrapper-space-between{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 30px;
    }
    
    
    .metrics-number{
        display: flex;
        justify-content: center;
        font-size: 40px;
    }

    .metrics-col p{
        font-size: 20px;
    }

    #metrics{
        min-height: 100vh;
        padding: 0 80px 0 80px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #video-card img{
        position: absolute;
        height: 80%;
        width: 100%;
        padding: 0 10px 0 10px;
    }
    


    .team-members-flex-box{
        padding: 0 10px 0 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;
        margin-top: 25px;
    }


    .about-container footer{
        margin-top: 40px;
    }


    .testimonials-image{
        float: right;
        display: none;
    }
    


.desktop-testimonial-grid{
    display: flex;
    justify-content: center;
    align-items: center;
}


.support-cards-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}




footer form input, footer form button{
    margin: 5px;
}

}



@media(max-width:375px){
    .social-links-footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #FAFAFA;
        padding: 30px;
        margin-top: 40px;
    }

}

@media(max-width:320px) {
    .store-logo h1{ /***REDUCE LOGO FONT SIZE TO FIT SCREEN***/
        font-size: 16px;
    }

    .home-page-context-wrapper{
        position: absolute;
        /***REDUCE LEFT POSITOIN TO AVOIDE PAGE CONTENT OVERFLOW**/
        left: 1%;
    }

    .featured-posts-flex{
        padding: 0 5px 0 5px;
    }


    .subscription-card{
        width: 100%;
        height: 540px;
        border: solid var(--blue0) 1px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        bottom: 0;
    }

    .try-free-btn button{
        width: 250px;
        height: 35px;
        background-color: black;
        border: none;
        color: white;
        cursor: pointer;
        transition: all .5s;
    }


}
